<!--
/**
 *  __          __  _    _____ _____  ______ _______                  _               
 *  \ \        / / | |  |_   _|  __ \|  ____|__   __|                (_)              
 *   \ \  /\  / /__| |__  | | | |  | | |__     | |_ __ ___  _____   ___  _____      __
 *    \ \/  \/ / _ \ '_ \ | | | |  | |  __|    | | '__/ _ \/ _ \ \ / / |/ _ \ \ /\ / /
 *     \  /\  /  __/ |_) || |_| |__| | |____ _ | | | |  __/  __/\ V /| |  __/\ V  V / 
 *      \/  \/ \___|_.__/_____|_____/|______(_)|_|_|  \___|\___| \_/ |_|\___| \_/\_/                                                                                
 *                                                                            
 */
-->
<ul id="fileContextMenu" class="contextMenu wi-contextMenu" style="width: 240px;">
    <li class="open"><a href="#open"><%%= __("Open") %%></a></li>
    <li class="download"><a href="#download"><%%= __("Download") %%></a></li>
    <li class="run"><a href="#run"><%%= __("Run") %%></a></li>
    <li class="refresh separator"><a href="#refresh"><%%= __("Refresh") %%></a></li>
    <li class="rename"><a href="#rename"><%%= __("Rename") %%></a></li>
    <li class="delete"><a href="#delete"><%%= __("Delete") %%></a></li>
    <li class="cut separator"><a href="#cut"><%%= __("Cut") %%><span class="wi-navbar-shortcut">Ctrl-X</span></a></li>
    <li class="copy"><a href="#copy"><%%= __("Copy") %%><span class="wi-navbar-shortcut">Ctrl-C</span></a></li>
    <li class="paste"><a href="#paste"><%%= __("Paste") %%><span class="wi-navbar-shortcut">Ctrl-V</span></a></li>
    <li class="duplicate"><a href="#duplicate"><%%= __("Duplicate") %%></a></li>
    <li class="copyfilepath separator"><a href="#copyfilepath"><%%= __("Copy file path") %%></a></li>
    <li class="openterminal separator"><a href="#openterminal"><%%= __("Open Terminal Here") %%><span class="wi-navbar-shortcut">Alt-L</span></a></li>
</ul>

<ul id="diretoryContextMenu" class="contextMenu wi-contextMenu" style="width: 240px;">
    <li class="open"><a href="#open"><%%= __("Open") %%></a></li>
    <li class="download"><a href="#download"><%%= __("Download") %%></a></li>
    <li class="refresh separator"><a href="#refresh"><%%= __("Refresh") %%></a></li>
    <li class="rename"><a href="#rename"><%%= __("Rename") %%></a></li>
    <li class="delete"><a href="#delete"><%%= __("Delete") %%></a></li>
    <li class="cut separator"><a href="#cut"><%%= __("Cut") %%><span class="wi-navbar-shortcut">Ctrl-X</span></a></li>
    <li class="copy"><a href="#copy"><%%= __("Copy") %%><span class="wi-navbar-shortcut">Ctrl-C</span></a></li>
    <li class="paste"><a href="#paste"><%%= __("Paste") %%><span class="wi-navbar-shortcut">Ctrl-V</span></a></li>
    <li class="duplicate"><a href="#duplicate"><%%= __("Duplicate") %%></a></li>
    <li class="copyfilepath separator"><a href="#copyfilepath"><%%= __("Copy file path") %%></a></li>
    <li class="openterminal separator"><a href="#openterminal"><%%= __("Open Terminal Here") %%><span class="wi-navbar-shortcut">Alt-L</span></a></li>
</ul>

<ul id="containerContextMenu" class="contextMenu wi-contextMenu" style="width: 240px;">
    <li class="build"><a href="#build"><%%= __("Build or rebuild services") %%></a></li>
    <li class="create separator"><a href="#create"><%%= __("Create service") %%></a></li>
    <li class="start"><a href="#start"><%%= __("Start services") %%></a></li>
    <li class="restart"><a href="#restart"><%%= __("Restart services") %%></a></li>
    <li class="pause"><a href="#pause"><%%= __("Pause services") %%></a></li>
    <li class="unpause"><a href="#unpause"><%%= __("Unpause services") %%></a></li>
    <li class="stop"><a href="#stop"><%%= __("Stop services") %%></a></li>
    <li class="up separator"><a href="#up"><%%= __("Up (Create and start containers)") %%></a></li>
    <li class="down"><a href="#down"><%%= __("Down (Stop and remove containers)") %%></a></li>
    <li class="settings separator"><a href="#settings"><%%= __("Configure services") %%>...</a></li>
    <li class="exec"><a href="#exec"><%%= __("Open Terminal Here") %%><span class="wi-navbar-shortcut">Alt-L</span></a></li>
</ul>
